

main {
  padding: 1em;
  border:  2px solid dark;
  border-radius: 25px;
  margin: 2.5%;
}
main img {
  float: left;
  float: left;
  margin: 0 1em 1em 0;
}
img[src*="muffin"] {
  margin-left: 50px;
}
h4 {
  text-transform: uppercase;
  border-top: 2px solid;
  border-left: 3px solid;
  padding-left: 1em;
  margin-top: 2.5em;
}
p.more {
  text-transform: uppercase; 
  font-size: .8em;
  clear: left;
}

.article{
  display: flex;
}
/* batas main */